contracts/deployments
contracts/artifacts
contracts/cache
contracts/coverage
node_modules
subgraph/abis
subgraph/build
subgraph/generated
common-lib/lib
package.json
web/.svelte/**
web/static/**
web/build/**
.vscode/**
.yalc/**
