# ###########################################
# .gitignore
#############################################
# environment variables
.env*.local

# node modules
node_modules/
#############################################

# Ignore npm files
pnpm-lock.yaml
package.json

# ignore folders
**/
