# Compiler files
/cache
/out

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/**/dry-run/

# Docs
/docs

# local files
*.local

# forge-deploy
/generated
/deployments/localhost
/deployments/31337
/deployments/1337
/deployments/void

# forge: we do not use submodule instead we specify dependencies in package.json `prepare` script
/lib

# npm
node_modules

# vscode
.vscode/*
!.vscode/extensions.json
!*.default
