############################################
# .gitignore
#############################################
node_modules
cache
artifacts
.vscode/*
!*.default
generated
#############################################
package.json
