# ###########################################
# .gitignore
#############################################
.env*.local
node_modules
/dist
#############################################
package.json
pnpm-lock.yaml