{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["prettier", "svelte3"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    // "no-console": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
    "no-else-return": ["error", { "allowElseIf": true }],
    "max-params": ["error", 4],
    "no-await-in-loop": "off"
  }
}
