/* ------------------------------------------------- */
/* GLOBAL CLASSES */
/* ------------------------------------------------- */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;

	border-radius: 0.5rem;

	line-height: 1em;
	font-weight: 600;
	text-decoration-line: none;

	height: 2rem;
	min-height: 2rem;
	padding-inline: 0.75rem;
	font-size: 0.875rem;
}

.primary {
	background-color: var(--color-background-primary);
	color: var(--color-text-primary);

	&:hover {
		background-color: var(--color-background-primary-100);
	}
}
.secondary {
	background-color: var(--color-background-secondary);
	color: var(--color-text-secondary);

	&:hover {
		background-color: var(--color-background-secondary-100);
	}
}

.success {
	color: var(--color-text-success);
	background-color: var(--color-background-success);
}
button.success:hover {
	background-color: var(--color-background-success-hover);
}

.error {
	color: var(--color-text-error);
	background-color: var(--color-background-error);
}
button.error:hover {
	background-color: var(--color-background-error-hover);
}

/* ------------------------------------------------- */
