/* ------------------------------------------------- */
/* GLOBAL CLASSES */
/* ------------------------------------------------- */

.primary {
	background-color: var(--color-primary-500);
	color: var(--color-text-on-primary-500);
}
button.primary:hover,
a[role='button'].primary:hover {
	background-color: var(--color-primary-600);
}
a[role='button'].primary:visited {
	color: var(--color-text-on-primary-500);
}

.secondary {
	background-color: var(--color-secondary-500);
	color: var(--color-text-on-secondary-500);
}
button.secondary:hover,
a[role='button'].secondary:hover {
	background-color: var(--color-secondary-600);
}
a[role='button'].secondary:visited {
	color: var(--color-text-on-secondary-500);
}

.success {
	color: var(--color-text-on-success-500);
	background-color: var(--color-success-500);
}
button.success:hover,
a[role='button'].success:hover {
	background-color: var(--color-success-600);
}
a[role='button'].success:visited {
	color: var(--color-text-on-success-500);
}

.error {
	color: var(--color-text-on-error-500);
	background-color: var(--color-error-500);
}
button.error:hover,
a[role='button'].error:hover {
	background-color: var(--color-error-600);
}
a[role='button'].error:visited {
	color: var(--color-text-on-error-500);
}

/* ------------------------------------------------- */
