/* ------------------------------------------------- */
/* VARIABLES */
/* ------------------------------------------------- */

/* Colors */
:root {
	--color-surface: 231.43 15%;
	--color-surface-lightness: 18%;
	--color-on-surface: 0 0%;
	--color-on-surface-lightness: 100%;

	--color-lighness-direction: -1;

	--color-primary: 325.52 100%;
	--color-primary-lightness: 74%;
	--color-on-primary: 0 0%;
	--color-on-primary-lightness: 0%;

	--color-secondary: 264.71 89%;
	--color-secondary-lightness: 78%;
	--color-on-secondary: 0 0%;
	--color-on-secondary-lightness: 0%;

	--color-error: 0 85.48%;
	--color-error-lightness: 62.99%;
	--color-on-error: 0 0%;
	--color-on-error-lightness: 0%;

	--color-success: 135.18 66.47%;
	--color-success-lightness: 56.04%;
	--color-on-success: 0 0%;
	--color-on-success-lightness: 0%;

	--color-text-on-surface: hsl(var(--color-on-surface) var(--color-on-surface-lightness));
	--color-text-for-links: hsl(var(--color-on-surface) var(--color-on-surface-lightness));

	--color-surface-500: hsl(var(--color-surface) var(--color-surface-lightness));
	--color-surface-600: hsl(
		var(--color-surface) calc(var(--color-surface-lightness) + var(--color-lighness-direction) * 2%)
	);
	--color-surface-700: hsl(
		var(--color-surface) calc(var(--color-surface-lightness) + var(--color-lighness-direction) * 3%)
	);
	--color-surface-800: hsl(
		var(--color-surface) calc(var(--color-surface-lightness) + var(--color-lighness-direction) * 4%)
	);

	--color-primary-500: hsl(var(--color-primary) var(--color-primary-lightness));
	--color-primary-600: hsl(
		var(--color-primary) calc(var(--color-primary-lightness) + var(--color-lighness-direction) * 10%)
	);
	--color-text-on-primary-500: hsl(var(--color-on-primary) var(--color-on-primary-lightness));
	--color-text-on-primary-600: hsl(var(--color-on-primary) var(--color-on-primary-lightness));

	--color-secondary-500: hsl(var(--color-secondary) var(--color-secondary-lightness));
	--color-secondary-600: hsl(
		var(--color-secondary) calc(var(--color-secondary-lightness) + var(--color-lighness-direction) * 11%)
	);
	--color-text-on-secondary-500: hsl(var(--color-on-secondary) var(--color-on-secondary-lightness));
	--color-text-on-secondary-600: hsl(var(--color-on-secondary) var(--color-on-secondary-lightness));

	--color-error-500: hsl(var(--color-error) var(--color-error-lightness));
	--color-error-600: hsl(var(--color-error) calc(var(--color-error-lightness) + var(--color-lighness-direction) * 10%));
	--color-text-on-error-500: hsl(var(--color-on-error) var(--color-on-error-lightness));
	--color-text-on-error-600: hsl(var(--color-on-error) var(--color-on-error-lightness));

	--color-success-500: hsl(var(--color-success) var(--color-success-lightness));
	--color-success-600: hsl(
		var(--color-success) calc(var(--color-success-lightness) + var(--color-lighness-direction) * 10%)
	);
	--color-text-on-success-500: hsl(var(--color-on-success) var(--color-on-success-lightness));
	--color-text-on-success-600: hsl(var(--color-on-success) var(--color-on-success-lightness));
}

/* ------------------------------------------------- */
