/* ------------------------------------------------- */
/* VARIABLES */
/* ------------------------------------------------- */

/* Colors */
:root {
	--color-text-base: white;
	--color-background-base: hsl(231.43 15% 18%);

	--color-background-base-100: hsl(231.43 15% 16%);
	--color-background-base-200: hsl(231.43 15% 16%);
	--color-background-base-300: hsl(231.43 16% 14%);

	--color-text-primary: black;
	--color-background-primary: hsl(325.52 100% 74%);
	--color-text-primary-100: black;
	--color-background-primary-100: hsl(325.52 100% 64%);

	--color-text-secondary: black;
	--color-background-secondary: hsl(264.71 89% 78%);
	--color-text-secondary-100: black;
	--color-background-secondary-100: hsl(264.71 54% 67%);

	--color-link-base: white;

	--color-error: hsl(0 85.48% 62.99%);
	--color-error-100: hsl(0 85.48% 52.99%);
	--color-success: hsl(135.18 66.47% 56.04%);
	--color-success-100: hsl(135.18 66.47% 46.04%);
	--color-background-error: var(--color-error);
	--color-background-error-hover: var(--color-error-100);
	--color-background-success: var(--color-success);
	--color-background-success-hover: var(--color-success-100);
	--color-text-error: black;
	--color-text-success: black;
}

/* ------------------------------------------------- */
