/* ------------------------------------------------- */
/* BASIC RESET mostly from  */
/* ------------------------------------------------- */

/* border-box */
*,
*:after,
*:before {
	box-sizing: border-box;
}

/* remove default margin and padding */
* {
	margin: 0;
	padding: 0;
}

/* Taming Overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p,
ul,
ol,
blockquote,
figure {
	overflow-wrap: break-word;
}

/* we default to block element for some element */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
	display: block;
}
/* plus by default we restrict their size */
:where(img, svg, video) {
	max-inline-size: 100%;
	block-size: auto;
}

/* fix pointers */
:where(
		a[href],
		area,
		button,
		input:not([type='text'], [type='email'], [type='number'], [type='password'], [type=''], [type='tel'], [type='url']),
		label[for],
		select,
		summary,
		[tabindex]:not([tabindex*='-'])
	) {
	cursor: pointer;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*='-'])) {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

/* form styling inherit */
:where(input, button, textarea, select),
:where(input[type='file'])::-webkit-file-upload-button {
	font: inherit;
	font-size: inherit;
	color: inherit;
	letter-spacing: inherit;
}

/* mobile font size fix */

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* we allow wrapper to use viewport height */
html,
body {
	height: 100%;
}
/* ------------------------------------------------- */
