/* ------------------------------------------------- */
/* UTILITIES */
/* ------------------------------------------------- */

/* 
taken from tailwind
hide element so that only screen-reader can "see" them
*/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* used for svg icon so they are by default the size of the font*/
.font-icon {
	min-height: 1rem;
	min-width: 1rem;
	display: inline-block;
}

.invisible {
	visibility: hidden;
}
/* ------------------------------------------------- */
