root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true

# Ignore paths
[**/**/package.json]
end_of_line = unset
insert_final_newline = unset
charset = unset
indent_style = unset
trim_trailing_whitespace = unset
indent_size = unset