{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 120,
	"bracketSpacing": false,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{"files": "*.svelte", "options": {"parser": "svelte"}},
		{"files": "*.ts", "options": {"parser": "typescript"}}
	]
}
